/* .App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App::-webkit-scrollbar{
  display: none;
}
.thePage::-webkit-scrollbar{
  display: none;
}
header {
  background-color: #040404;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header a{
  color: white;
}

header p{
  padding-right: 2vw;
}

header h1{
  padding-left: 2.5vw;
}


